.switch-toggle {
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -2;
    &:checked + label {
      &::before {
        left: 50%;
      }
      border-color: var(--color-status-success);
      background-color: var(--color-status-success);
    }
  }
  label {
    margin: 0;
    width: 34px;
    height: 21px;
    position: relative;
    display: inline-block;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    &::before {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      background-color: #fff;
      transition: 0.3s ease-in-out;
    }
  }
}
