<div class="withdraw-modal" (submit)="onSubmit()">
  <h3 class="withdraw-modal__title">Balance Withdrawal</h3>
  <p>Your available balance to withdrawal is {{ balanceService.paidBalance$.getValue().USDT20 }} USDT</p>
  <div class="withdraw-modal__content">
    <form
      [formGroup]="form"
      *ngIf="balanceService.paidBalance$.getValue().USDT20 >= minimumAmountToWithdraw; else notEnoughBalance">
      <div class="withdraw-modal__field-group">
        <input
          #amount
          formControlName="amount"
          placeholder="Withdrawal amount"
          type="number"
          (change)="onChange($event.target.value)" />
        <div class="withdraw-modal__error" *ngIf="form.get('amount').invalid && form.get('amount').touched">
          <div *ngIf="form.get('amount').errors['required']">The amount can't be empty.</div>
          <div *ngIf="form.get('amount').errors['minimum']">
            The amount should be {{ minimumAmountToWithdraw }} or more.
          </div>
        </div>
      </div>
      <div class="withdraw-modal__field-group">
        <input #wallet formControlName="wallet" placeholder="USDT wallet address" type="text" />
        <div class="withdraw-modal__error" *ngIf="form.get('wallet').invalid && form.get('wallet').touched">
          <div *ngIf="form.get('wallet').errors['required']">The wallet can't be empty.</div>
          <div *ngIf="form.get('wallet').errors['minlength']">
            The wallet should have <mark>{{ form.get('wallet').errors['minlength'].requiredLength }}</mark> symbols.
            Currently you typed <mark>{{ wallet.value.length }}</mark
            >.
          </div>
          <div *ngIf="form.get('wallet').errors['maxlength']">
            The wallet should have <mark>{{ form.get('wallet').errors['maxlength'].requiredLength }}</mark> symbols.
            Currently you typed <mark>{{ wallet.value.length }}</mark
            >.
          </div>
        </div>
      </div>
      <div class="withdraw-modal__buttons">
        <app-button
          class="withdraw-modal__button"
          [buttonData]="withdrawButton"
          [disabled]="form.invalid || amount.value < minimumAmountToWithdraw"></app-button>
        <app-button class="withdraw-modal__button" [buttonData]="cancelButton" (click)="onCancel()"></app-button>
      </div>
    </form>
    <ng-template #notEnoughBalance>
      <p>
        You have not enough balance to withdrawal. Minimum amount to withdraw is
        {{ minimumAmountToWithdraw }} USDT.
      </p>
      <app-button class="withdraw-modal__button" [buttonData]="cancelButton" (click)="onCancel()"></app-button>
    </ng-template>
  </div>
</div>
