.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-app-region: no-drag;
  z-index: 2;

  &__close-btn {
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      color: var(--color-active);
      transition: 0.3s;
    }
  }

  &-wrapper {
    width: 0;
    height: 100%;
    padding-top: 90px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-bg);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;

    &__active {
      width: 480px;
    }
  }

  &__active {
    background: rgba(0, 0, 0, 0.4);
  }

  &-content {
    margin: 0 30px;
  }
}
