<div class="header-balances">
  <div class="item">
    <span class="icon icon-Dashboard"></span>
    <div class="data">
      <div class="data-item">
        <div class="value">{{ balanceService.paidBalance$.getValue().USDT20 | number: '1.4-4' }} USDT</div>
        <span class="divider">/</span>
        <div class="value">{{ balanceService.paidBalance$.getValue().GMRX | number: '1.4-4' }} GMRX</div>
      </div>
      <div class="title">Balance</div>
    </div>
  </div>
  <div
    class="item item-selectable"
    title="This is an estimated figure and may go up or down a little until we convert it into your confirmed rewards.">
    <span class="icon icon-Dashboard"></span>

    <div class="data">
      <div class="data-item">
        <div class="value">{{ balanceService.unpaidBalance$.getValue().USDT20 | number: '1.11-11' }} USDT</div>
      </div>
      <div class="title">Est. Pending Rewards</div>
    </div>
  </div>
</div>
