.header-balances {
  display: flex;
  font-size: 15px;
  line-height: 16px;

  .item {
    padding: 0 30px 0 0;
    display: flex;
    align-items: flex-start;

    &.item-selectable {
      -webkit-user-select: auto;
      -webkit-app-region: no-drag;
    }

    .icon {
      margin-right: 8px;
      font-size: 16px;
    }

    .data {
      display: flex;
      flex-direction: column;
      .data-item {
        margin: 0 0 5px 0;
        display: flex;
        .value {
          font-weight: 500;
        }
        .divider {
          padding: 0 5px;
          color: var(--color-text-dark);
        }
      }
      .title {
        color: var(--color-text-dark);
        font-weight: 300;
      }
    }
  }
}
