.notification-item {
  margin: 0 0 20px 0;
  padding: 0 0 28px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-border);

  &_image__wrapper {
    width: 45px;
    height: 45px;
    margin: 0 15px 0 0;
    background: var(--btn-main-bg);
    border-radius: 50%;
    flex-shrink: 0;

    span {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }
  }

  &_description {
    font-size: 16px;
    line-height: 24px;

    p {
      margin-top: 0;
    }
  }

  ::ng-deep button {
    height: 36px;
  }
}
