<div class="transfer-nft">
  <h3 class="transfer-nft__title">Transfer NFT</h3>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="transfer-nft__field-group">
      <input id="addressTo" formControlName="addressTo" #addressTo placeholder="To Wallet / Address / E-mail" />
      <div class="transfer-nft__error" *ngIf="form.get('addressTo').invalid && form.get('addressTo').touched">
        <div *ngIf="form.get('addressTo').errors['required']">The field is required.</div>
      </div>
    </div>
    <div class="transfer-nft__field-group">
      <input id="amount" formControlName="amount" #amount placeholder="Amount" type="number" />
    </div>
    <app-button class="transfer-nft__button" [buttonData]="button" [disabled]="form.invalid"></app-button>
  </form>
</div>
