<div class="nft-item" *ngIf="data">
  <img class="nft-item__image" [src]="data.imageSrc" />
  <div class="nft-item__title">
    <h3 class="nft-item__title-name">{{ data.title }}</h3>
    <app-button
      [disabled]="data.progress.percent < 1"
      [attr.disabled]="data.progress.percent < 1"
      class="nft-item__title-button"
      [buttonData]="{ name: 'Claim' }"
      (click)="openPromotionModal(data.type)"></app-button>
  </div>
  <div class="nft-item__progress">
    <div class="nft-item__progress-value">
      <span
        class="nft-item__progress-value-current"
        [ngClass]="{ 'nft-item__progress-value_success': data.progress.percent >= 1 }">
        {{ data.progress.time }} /
      </span>
      <span class="nft-item__progress-value-max">{{ data.progress.maxTime }}h</span>
    </div>
    <app-progress-bar class="nft-item__progress-bar" [percent]="data.progress.percent"></app-progress-bar>
  </div>
  <div class="nft-item__description">
    <div class="nft-item__description-title">Description:</div>
    <div class="nft-item__description-text">{{ data.description }}</div>
  </div>
</div>
