:host {
  width: 33.3%;
  max-width: 500px;
  flex-shrink: 1;
}

.nft-item {
  margin: 0 20px;
  max-width: 330px;

  &__image {
    width: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--color-active);
  }

  &__title {
    width: 100%;
    min-height: 54px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
      margin: 0;
      padding-right: 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }

    &-button {
      min-width: 124px;
      flex-shrink: 0;
    }
  }

  &__progress {
    margin-top: 10px;

    &-value {
      color: var(--color-text-yellow);
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;

      &-current {
        color: var(--color-active);
      }
    }

    &-bar {
      width: 173px;
      margin-top: 3px;
    }
  }

  &__description {
    margin: 13px 0;
    font-size: 12px;
    line-height: 18px;
  }
}
