.benchmarking-item {
  min-width: 290px;
  height: 115px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  background: #111112;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.6s;
  overflow: hidden;
  z-index: 0;

  &:hover {
    border: 1px solid #444448;
  }

  &__best {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(183deg, #00f5a0, #00d9f5);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0.5%;
      top: 1.5%;
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      background: #111112;
      border-radius: 7px;
    }
  }

  &__image {
    width: 20px;
    margin-bottom: 10px;
  }

  &__name {
    font-weight: 500;
    font-size: 15px;
    margin: 5px 0;
  }

  &__date {
    font-weight: 300;
    font-size: 14px;
    min-width: 165px;
  }

  &__hashrate {
    &-title {
      margin-bottom: 7px;
      color: var(--color-text-dark);
      font-weight: 600;
      font-size: 13px;
      text-transform: uppercase;
    }

    &-value {
      font-weight: 500;
      font-size: 15px;
    }
  }
}

.not-support {
  color: var(--color-text-dark);
}

.active {
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -80%;
    top: -50%;
    width: 370%;
    height: 100%;
    background-color: #fbb300ff;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #111112;
    border-radius: 6px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
