@import 'mixins';

.nsm-dialog {
  @include custom-scroll;
  width: 480px;
  max-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: visible;

  .nsm-content {
    margin: 0;
    padding: 44px 30px 35px 30px;
    background-color: var(--modal-bg);
  }

  &-btn-close {
    color: var(--color-text);
    svg {
      height: 12px;
    }
    &:focus {
      outline: none;
    }
  }
}

.cart-modal {
  min-height: 524px;
  right: -52%;
  top: 320px;
  overflow-x: hidden;

  .nsm-content {
    padding: 0;
  }
}
