@import 'mixins';

:host {
  display: block;
  flex-grow: 1;
}

.platform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: row;
    @include custom-scroll;
  }
}

.pages {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 32px 32px 40px 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow-x: hidden;
  @include custom-scroll;
}
