@mixin custom-scroll {
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-border);
    box-shadow: 0 0 1px var(--color-border);
  }
}

@mixin dialog {
  &__title {
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
  }

  p {
    margin: 0 0 15px;
  }

  &__button {
    width: 100%;
    margin-top: 15px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    app-button {
      width: 50%;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

@mixin form {
  form {
    display: flex;
    flex-direction: column;
  }

  &__field-group {
    margin: 0 0 10px 0;
    position: relative;
    display: flex;

    input,
    select,
    textarea {
      width: 100%;
      height: var(--input-height);
      margin: 0;
      padding: 0 25px;
      flex-grow: 1;
      color: var(--input-color);
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      border-radius: 10px;
      border: 1px solid transparent;
      background: var(--input-bg);
      transition: all 0.2s;

      &:not(:disabled):focus {
        background: var(--input-bg-active);
        outline: none;
      }

      &.ng-invalid.ng-touched {
        border: 1px solid var(--input-error);
      }
    }

    &-select {
      display: flex;
      align-items: center;
      position: relative;
      select {
        -webkit-appearance: none;
      }
      span {
        position: absolute;
        right: 25px;
        font-size: 12px;
      }
    }
  }

  &__error {
    max-width: 300px;
    width: max-content;
    margin: 0 0 0 15px;
    padding: 12px 16px;
    position: absolute;
    top: 0;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    color: var(--input-error-color);
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--input-error-bg);
    mark {
      padding: 0 4px;
      color: var(--input-error-color);
      background: var(--modal-bg);
    }
  }
}

@mixin upload-files() {
  &__button {
    width: 160px;
    flex-shrink: 0;
    ::ng-deep .button {
      flex-direction: row-reverse;
      .button__text + .button__icon {
        padding-left: 0 !important;
        padding-right: 5px;
      }
    }
  }

  &__file {
    width: calc(100% - 160px);
    padding: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-name {
      width: calc(100% - 16px);
      padding: 0 10px 0 0;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 5px;
        font-size: 18px;
      }
      p {
        margin: 0;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &-remove {
      cursor: pointer;
    }
  }
}

@mixin page() {
  @include custom-scroll;
  overflow-x: hidden;
  display: block;
  height: 100%;
  line-height: 1.33;
  padding: 0 10px 0 0;
}

@mixin header() {
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    margin: 0;
    color: var(--color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  &-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-active);
    cursor: pointer;
    span {
      margin-left: 8px;
      font-size: 10px;
    }
  }
}

@mixin title() {
  margin: 0 0 20px 0;
  color: var(--color-text);
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
}

@mixin subtitle() {
  margin: 0 0 25px 0;
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

@mixin back-link() {
  width: 100px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .icon {
    margin-right: 5px;
    font-size: 10px;
  }
}

@mixin card() {
  width: 100%;
  margin: 0 0 57px 0;
  padding: 30px;
  display: flex;
  border-radius: 10px;
  background: var(--card-bg);

  &-title {
    color: var(--color-text);
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    span {
      margin-left: 10px;
      color: var(--color-text-dark);
      font-weight: 300;
      font-size: 15px;
      line-height: 15px;
      text-transform: none;
    }
  }
}

@mixin button {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-main-color);
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  background-color: var(--btn-main-bg);
  border: 1px solid var(--btn-main-border);
  border-radius: 10px;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
    opacity: 0.5;
    pointer-events: none;
    span {
      pointer-events: none;
    }
  }
}

@mixin table {
  table {
    width: 100%;
    margin: 0;
    text-align: left;
    border-collapse: collapse;

    > tr:not(:first-child),
    tbody tr {
      border: 1px solid var(--color-border);
    }

    th {
      padding: 0 15px 7px 30px;
      color: var(--color-text-dark);
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
      border: none;
    }

    td {
      height: 100px;
      padding: 12px 0 12px 30px;
      color: var(--color-text);
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      vertical-align: middle;
      border: none;
      ul {
        padding: 0;
      }
      &.empty-row {
        text-align: center;
      }
    }
  }
}

@mixin pagination__template {
  min-width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

@mixin pagination {
  .pagination {
    margin: 40px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-align: center;

    &__number {
      @include pagination__template;
      color: var(--color-text-dark);

      &:hover {
        color: var(--color-text);
      }

      &-current {
        @include pagination__template;
        color: var(--color-text);
        border-color: var(--color-active);
      }
    }

    &__control {
      @include pagination__template;
      margin: 0 15px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      color: var(--color-text);
      font-size: 14px;
      border: 1px solid #2a2a36;

      &:hover {
        cursor: pointer;
        border-color: #454551;
      }

      &-disabled {
        color: var(--color-text-dark);
        pointer-events: none;
      }
    }

    &__arrow-left {
      margin-right: 8px;
      font-size: 8px;
    }
    &__arrow-right {
      margin-left: 8px;
      font-size: 8px;
    }
  }
}

@mixin sidebar-header {
  margin: 0 0 20px 0;
  padding: 20px 0 20px 0;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid var(--color-border);
}

@mixin cart-counter {
  width: 90px;
  height: 65px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid var(--btn-secondary-border);
  border-radius: 10px;
  span {
    width: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
}

@mixin product-details {
  display: flex;
  justify-content: space-between;

  &__image {
    width: 586px;
    height: 586px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 586px;
      height: 586px;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 10px 0 0 45px;
  }

  &__title {
    margin: 0 0 5px 0;
    color: var(--color-text);
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    word-break: break-word;
  }

  &__price {
    margin: 7px 0 0;
    color: var(--color-text-yellow);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
  }

  &__amount {
    margin: 20px 0 0;
    color: var(--color-text-yellow);
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }

  &__attributes {
    margin: 20px 0 26px 0;
    h3 {
      margin: 0 0 10px 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }
    p {
      margin: 0 0 10px 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }
}

@mixin product-grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 169px);
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 20px;
}

@mixin product-item {
  width: 169px;
  height: 250px;
  cursor: pointer;

  &__image {
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 169px;
      height: 169px;
    }
  }

  &__info {
    padding: 8px 0 0 0;
    display: flex;
    flex-direction: column;

    &-title {
      margin: 0 0 6px 0;
      color: var(--color-text);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      word-break: break-word;
    }

    &-currency {
      margin: 0 0 6px 0;
      color: var(--color-text-yellow);
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      word-break: break-word;
    }

    &-amount {
      color: var(--color-text);
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
    }

    &-button {
      width: 50px;
      margin-top: 10px;
    }
  }
}
