:host {
  display: block;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  .top-bar {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #09090a;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    span {
      padding: 5px 5px;
      font-size: 10px;
      cursor: pointer;
      -webkit-app-region: no-drag;
      &:hover {
        color: var(--color-active);
      }
    }
  }

  .header-wrapper {
    width: 100%;
    height: 70px;
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;

    .header-logo {
      width: 220px;
      height: 100%;
      padding: 0 30px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border-right: 1px solid var(--color-border);
      background: var(--color-bg);
      transition: all 0.2s;
      &.minimized {
        width: 64px;
        padding: 0 22px;
        overflow: hidden;
        app-icon {
          display: none;
        }
      }
      span {
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .header-bar {
      width: 100%;
      height: 100%;
      margin: 0 40px 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .header_menu {
        display: flex;
        align-items: center;
        .menu-wrapper {
          padding: 5px 8px;
          position: relative;
          cursor: pointer;
          .icon {
            font-size: 25px;
            &:hover {
              color: var(--color-active);
            }
          }
          .status {
            width: 5px;
            height: 5px;
            display: none;
            position: absolute;
            top: 2px;
            right: 5px;
            border-radius: 50%;
            background: var(--color-status);
            &.active {
              display: block;
            }
          }
          .title {
            font-size: 15px;
            line-height: 15px;
          }
          .monetization-wrapper {
            margin: 5px 0 0;
            display: flex;
            align-items: center;
            .icon {
              margin-left: 10px;
              font-size: 18px;
            }
          }
        }
        .menu-divider {
          width: 1px;
          height: 30px;
          margin: 0 33px;
          background: var(--color-border);
        }
      }
    }
  }
}
