<div class="benchmarking-list">
  <app-benchmarking-item
    [minerName]="'Phoenix'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.phoenix.firstVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Phoenix'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.phoenix.secondVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Phoenix'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.phoenix.thirdVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'T-rex'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.trex.firstVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'T-rex'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.trex.secondVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'T-rex'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.trex.thirdVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Gminer'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.gminer.firstVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Gminer'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.gminer.secondVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Gminer'"
    [cryptoCode]="'ETH'"
    [benchData]="hardBenchmarkingData.ETH.gminer.thirdVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'T-rex'"
    [cryptoCode]="'RVN'"
    [benchData]="hardBenchmarkingData.RVN.trex.firstVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'T-rex'"
    [cryptoCode]="'RVN'"
    [benchData]="hardBenchmarkingData.RVN.trex.secondVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'T-rex'"
    [cryptoCode]="'RVN'"
    [benchData]="hardBenchmarkingData.RVN.trex.thirdVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Gminer'"
    [cryptoCode]="'RVN'"
    [benchData]="hardBenchmarkingData.RVN.gminer.firstVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Gminer'"
    [cryptoCode]="'RVN'"
    [benchData]="hardBenchmarkingData.RVN.gminer.secondVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>

  <app-benchmarking-item
    [minerName]="'Gminer'"
    [cryptoCode]="'RVN'"
    [benchData]="hardBenchmarkingData.RVN.gminer.thirdVersion"
    [isHardBenchDone]="hardBenchmarkingData.isHardBenchDone"
  ></app-benchmarking-item>
</div>
