@import 'mixins';

:host {
  display: block;
}

.accordion {
  &__tab {
    display: flex;
    transition: all 0.2s;

    &-title {
      @include subtitle();
      cursor: pointer;
    }
  }

  &__content {
    margin: 0 0 60px 0;
  }
}
