<div class="wallet">
  <div class="title-wrapper">
    <h2 class="title">Wallet</h2>
    <app-updated-time></app-updated-time>
  </div>

  <div class="wallet__card">
    <div class="wallet__card-data">
      <div class="wallet__card-title">
        Your Wallet
        <span
          (click)="onLogout()"
          *ngIf="arkaneService.wallets?.result?.length || arkaneService.wallets?.result?.length === null"
          >Logout</span
        >
      </div>
      <div class="wallet__card-data-body" *ngIf="arkaneService.wallets?.result?.length">
        <div class="wallet__col">
          <div class="wallet__col-amount">
            {{ arkaneService.wallets.result[0].balance.balance | number: '1.4-4' }}
            <span>{{ arkaneService.wallets.result[0].balance.symbol }}</span>
          </div>
          <div class="wallet__col-name">Balance</div>
        </div>
        <div class="wallet__col">
          <div class="wallet__col-address">
            {{ arkaneService.wallets.result[0].address }}
            <span class="icon icon-Copy-2" (click)="onCopy(arkaneService.wallets.result[0].address)"></span>
          </div>
          <div class="wallet__col-name">Address</div>
        </div>
      </div>
    </div>
    <div class="wallet__card-button">
      <app-button [buttonData]="buttonRefresh" (click)="refreshData()" class="refresh-button"></app-button>
      <app-button [buttonData]="buttonTransfer" (click)="openSendFundsModal()" class="transfer-button"></app-button>
      <app-button [buttonData]="buttonWallet" (click)="manageWallets()" class="wallet-button"></app-button>
    </div>
  </div>

  <div *ngIf="arkaneService.wallets?.result?.length">
    <div *ngIf="arkaneService.nfts?.result?.length">
      <app-nfts></app-nfts>
    </div>

    <app-accordion accordionTitle="Tokens">
      <app-tokens></app-tokens>
    </app-accordion>

    <app-accordion accordionTitle="Activity">
      <app-activity></app-activity>
    </app-accordion>
  </div>
</div>
