@import 'mixins';

.wallet {
  h2.title {
    @include title();
  }

  .title-wrapper {
    position: relative;
  }

  &__card {
    @include card;
    justify-content: space-between;

    &-title {
      span {
        cursor: pointer;
      }
    }

    &-data {
      display: flex;
      flex-direction: column;

      &-body {
        height: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .wallet__col {
          margin-right: 50px;

          &-amount {
            color: var(--color-text);
            font-weight: 500;
            font-size: 25px;
            line-height: 34px;

            span {
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
            }
          }

          &-name {
            color: var(--color-text-dark);
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
          }

          &-address {
            display: flex;
            align-items: center;
            color: var(--color-text);
            font-weight: 500;
            font-size: 16px;
            line-height: 34px;

            .icon {
              margin-left: 10px;
              font-size: 17px;
              cursor: pointer;
            }
          }
        }
      }
    }
    &-button {
      display: flex;
      align-items: center;
      .wallet-button {
        width: 210px;
        margin-left: 10px;
      }
      .transfer-button {
        margin-left: 10px;
      }
    }
  }
}
