<div class="home">
  <div>
    <app-news></app-news>
  </div>
  <div *ngIf="trendingNfts">
    <app-product-recommendation
      [recommendationData]="trendingNfts"
      [redirectData]="trendingNftsRedirectData"
      [headerText]="'Trending NFT'"></app-product-recommendation>
  </div>

  <div>
    <app-games-page [title]="'Our Games'" [showBg]="false"></app-games-page>
  </div>

  <div *ngIf="newItems">
    <app-product-recommendation
      [recommendationData]="newItems"
      [redirectData]="newItemsRedirectData"
      [headerText]="'New items'"></app-product-recommendation>
  </div>
</div>
