:host {
  width: 100%;
  height: 6px;
  display: block;
  position: relative;
  border-radius: 5px;
  background: var(--progress-bar-bg);
  overflow: hidden;
}

.progress-bar {
  max-width: 100%;
  min-width: 5px;
  height: 6px;
  display: block;
  position: absolute;
  left: 0;
  overflow: hidden;
  transition: all 0.2s;

  &__gradient {
    height: 6px;
    background: var(--progress-bar-active);
  }
}
