.label {
  position: absolute;
  left: 6%;
  top: 6%;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 5px;
  }

  &__text {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
