@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #101011;
}

.header {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 5px 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  background: #09090a;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header-nav i {
  margin: 0;
  padding: 0 7px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#minimizeBtn {
  font-size: 12px;
}

.header-nav i:hover {
  color: #776bf8;
}

.logo-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.logo__img {
  width: 300px;
}

.content-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0 50px;
}

.content-wrapper form {
  width: 100%;
}

.content-header__text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.content-activation__input {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  padding: 0 25px;
  flex-grow: 1;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #1a1a1e;
  transition: all 0.2s;
}

.input-error {
  border: 1px solid #821718;
}

.content-activation__input:disabled {
  color: #fff;
}

.content-activation__input:not(:disabled):focus {
  background: #222228;
  outline: none;
}

.content-activation__button {
  width: 100%;
  height: 65px;
  margin: 15px 0 0 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  background-color: #776bf8;
  border: 1px solid #776bf8;
  border-radius: 10px;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
}

.content-activation__button:not(:disabled):focus,
.content-activation__button:not(:disabled):hover {
}

.content-activation__button:disabled {
  cursor: no-drop;
  opacity: 0.5;
}

.content-activation__input-validation {
  display: none;
}

.content-activation__input-validation__failed {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  color: #821718;
  font-size: 14px;
}
