.order-summary {
  min-height: 180px;
  padding: 25px;
  border-radius: 10px;
  background: var(--color-sidebar-bg);

  &__count {
    font-weight: 500;
    font-size: 20px;

    span {
      font-size: 16px;
      color: var(--color-text-dark);
    }
  }

  &__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    margin: 20px 0;

    p {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }

    div {
      font-size: 17px;
    }
  }

  &__not-valid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -25px;

    span {
      margin-right: 5px;
      color: #9a9a9a;
      font-size: 15px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  &__buttons {
    border-top: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
    margin-top: 30px;
    .view-btn {
      width: 130px;
      margin-right: 10px;
      flex-shrink: 0;
    }
    .checkout-btn {
      width: 100%;
    }
  }
}
