<div class="order-summary">
  <p class="order-summary__count">
    Order Summary <span>{{ cartData.length }} items</span>
  </p>
  <div class="order-summary__subtotal">
    <p>Subtotal</p>
    <div>{{ marketService.calcTotal() | number: '1.2-2' }} GMRX</div>
  </div>

  <div
    *ngIf="
      marketService.calcTotal() > balanceGMRX ||
      !(authService.isLoggedIn() | async) ||
      !(arkaneService.isLoggedIn() | async)
    "
    class="order-summary__not-valid">
    <span class="icon-Invalid"></span>
    <p
      *ngIf="
        (authService.isLoggedIn() | async) &&
        (arkaneService.isLoggedIn() | async) &&
        marketService.calcTotal() >= balanceGMRX
      ">
      You don't have enough GMRX
    </p>

    <p *ngIf="!(authService.isLoggedIn() | async)">You are not authorized</p>
    <p *ngIf="!(arkaneService.isLoggedIn() | async) && (authService.isLoggedIn() | async)">
      You are not authorized in Venly wallet
    </p>
  </div>

  <div class="order-summary__buttons">
    <app-button
      (click)="toCart()"
      class="view-btn"
      [buttonData]="{ name: 'View cart', classMod: 'secondary' }"></app-button>
    <app-button
      (click)="toCheckout()"
      class="checkout-btn"
      [buttonData]="{ name: 'Checkout' }"
      [disabled]="
        marketService.calcTotal() > balanceGMRX ||
        !(authService.isLoggedIn() | async) ||
        !(arkaneService.isLoggedIn() | async)
      "
      [attr.disabled]="
        marketService.calcTotal() > balanceGMRX ||
        !(authService.isLoggedIn() | async) ||
        !(arkaneService.isLoggedIn() | async)
      "></app-button>
  </div>
</div>
