@import 'mixins';

.profile {
  @include card;

  &__avatar {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    position: relative;

    &-image {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        max-width: none;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: fill;
      }
    }

    .icon {
      width: 33px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: #24262c;
      border: 3px solid #121215;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .profile__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .profile__info {
      padding: 0 0 0 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      .name-container {
        margin: 0 0 13px;
        display: flex;
        align-items: center;
      }
      .contacts-container {
        display: flex;
        .contacts-col {
          margin-right: 40px;
        }
      }
      .fullname {
        margin-right: 6px;
        color: var(--color-text);
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
      }
      .name {
        color: var(--color-text);
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
      }
      .label {
        color: var(--color-text-dark);
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }
    }
    .profile__info-buttons {
      .edit-button {
        min-width: 130px;
        height: 44px;
        margin-right: 10px;
        font-size: 15px;
        ::ng-deep .button {
          flex-direction: row-reverse;
          .button__text + .button__icon {
            padding-left: 0;
            padding-right: 5px;
          }
        }
      }
      .logout-button {
        min-width: 85px;
        height: 44px;
        font-size: 15px;
      }
    }
  }
}
