@use 'sass:math';
@import 'mixins';

.nep {
  h2.title {
    @include title();
  }
  h3.sub-title {
    @include subtitle();
  }

  &__card {
    @include card;
    justify-content: space-between;

    &-data {
      display: flex;
      flex-direction: column;

      &-body {
        height: 100%;
        display: flex;
        align-items: center;

        .nep__col {
          margin-right: 45px;

          &-amount {
            color: var(--color-text);
            font-weight: 500;
            font-size: 25px;
            line-height: 34px;

            span {
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
            }
          }

          &-name {
            color: var(--color-text-dark);
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }

    &-socials {
      display: flex;
      flex-direction: column;
    }
  }

  &__table-transaction {
    max-height: 300px;
    height: 100%;

    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}
