@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wqfvk2');
  src:  url('fonts/icomoon.eot?wqfvk2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wqfvk2') format('truetype'),
    url('fonts/icomoon.woff?wqfvk2') format('woff'),
    url('fonts/icomoon.svg?wqfvk2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-TopBar-Minimize:before {
  content: "\e900";
}
.icon-TopBar-Maximize:before {
  content: "\e915";
}
.icon-Close-Bold:before {
  content: "\e902";
}
.icon-Menu:before {
  content: "\e903";
}
.icon-Games:before {
  content: "\e905";
}
.icon-Games-2:before {
  content: "\e910";
}
.icon-Nep-Squad:before {
  content: "\e901";
}
.icon-Market:before {
  content: "\e929";
}
.icon-Market-2:before {
  content: "\e90e";
}
.icon-Home:before {
  content: "\e907";
}
.icon-Dashboard:before {
  content: "\e90a";
}
.icon-Collection:before {
  content: "\e908";
}
.icon-Wallet:before {
  content: "\e909";
}
.icon-Site:before {
  content: "\e90b";
}
.icon-Dot:before {
  content: "\e90c";
}
.icon-Notification:before {
  content: "\e90d";
}
.icon-Success:before {
  content: "\e91e";
}
.icon-Error:before {
  content: "\e92a";
}
.icon-Withdraw:before {
  content: "\e90f";
}
.icon-Achievements:before {
  content: "\e913";
}
.icon-Benchmarking:before {
  content: "\e925";
}
.icon-Search:before {
  content: "\e912";
}
.icon-Copy:before {
  content: "\e911";
}
.icon-Copy-2:before {
  content: "\e914";
}
.icon-Refresh:before {
  content: "\e904";
}
.icon-Close:before {
  content: "\e928";
}
.icon-Edit:before {
  content: "\e916";
}
.icon-Soc-Whatsapp:before {
  content: "\e906";
}
.icon-Soc-Telegram:before {
  content: "\e918";
}
.icon-Soc-Facebook:before {
  content: "\e919";
}
.icon-Soc-Twitter:before {
  content: "\e91a";
}
.icon-Soc-Share:before {
  content: "\e91b";
}
.icon-Upload:before {
  content: "\e91c";
}
.icon-Attachment:before {
  content: "\e91d";
}
.icon-Dots:before {
  content: "\e91f";
}
.icon-Dots-2:before {
  content: "\e920";
}
.icon-Checked:before {
  content: "\e921";
}
.icon-Arrow-Bottom:before {
  content: "\e922";
}
.icon-Arrow-Top:before {
  content: "\e92b";
}
.icon-Arrow-Left:before {
  content: "\e923";
}
.icon-Arrow-Right:before {
  content: "\e924";
}
.icon-Star:before {
  content: "\e917";
}
.icon-Zipper:before {
  content: "\e926";
}
.icon-Zipper-2:before {
  content: "\e927";
}
.icon-Invalid:before {
  content: "\e92c";
}
