@import 'mixins';

.marketplace {
  h2.title {
    @include title();
  }

  &__news {
    margin-bottom: 50px;
  }

  &__container {
    padding: 25px 0 0 0;
    display: flex;
  }
}

.market-filter {
  width: 180px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  &__title {
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  &__subtitle {
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }

  app-button {
    margin-bottom: 10px;
    ::ng-deep button {
      font-weight: 300;
    }
  }
}

.market-products {
  flex-grow: 1;
  .products-wrapper {
    @include product-grid;
  }
}

.products {
  @include product-item;
}

@include pagination;

.template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 300px;
  }

  &__text {
    font-size: 18px;
  }
}
