<div class="marketplace">
  <div class="marketplace__news">
    <app-news></app-news>
  </div>

  <h2 class="title">Marketplace</h2>

  <div class="marketplace__container">
    <div class="market-filter">
      <p class="market-filter__title">Filter</p>
      <p class="market-filter__subtitle">Providers</p>
      <app-button [buttonData]="buttonAll" (click)="showAllNFTs()"></app-button>
      <app-button [buttonData]="buttonGaimin" (click)="showGaiminNFTs()"></app-button>
    </div>
    <app-loader></app-loader>
    <div class="market-products" *ngIf="!isLoading">
      <div class="products-wrapper" *ngIf="marketService.products?.length > 0; else empty">
        <div
          class="products"
          *ngFor="
            let data of marketService.products
              | paginate
                : {
                    itemsPerPage: this.marketService.itemsPerPage,
                    currentPage: this.marketService.currentPage,
                    totalItems: this.marketService.totalItems
                  }
          "
          (click)="navigateTo(data)">
          <div class="products__image">
            <img [src]="data.imageUrl" onError="this.src = './assets/icons/placeholders/market.webp'" alt="" />
          </div>
          <div class="products__info">
            <div class="products__info-title">
              {{ data.name.substring(0, 30) }}
            </div>
            <div class="products__info-currency">{{ data.price | number: '1.2-2' }} {{ data.currency }}</div>
            <div *ngIf="data.amount > 1" class="products__info-amount">x{{ data.amount }}</div>
          </div>
        </div>
      </div>
      <pagination-template
        class="pagination"
        #p="paginationApi"
        (pageChange)="pageChanged($event)"
        *ngIf="marketService.products?.length > 0">
        <div class="pagination__control" (click)="p.previous()" [class.pagination__control-disabled]="p.isFirstPage()">
          <span class="pagination__arrow-left icon-Arrow-Left"></span>
          <span>Previous</span>
        </div>
        <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            <span class="pagination__number">{{ page.label }}</span>
          </a>
          <div *ngIf="p.getCurrent() === page.value">
            <span class="pagination__number-current">{{ page.label }}</span>
          </div>
        </div>
        <div class="pagination__control" (click)="p.next()" [class.pagination__control-disabled]="p.isLastPage()">
          <span>Next</span>
          <span class="pagination__arrow-right icon-Arrow-Right"></span>
        </div>
      </pagination-template>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="template" *ngIf="!isLoading">
    <app-icon class="template__img" path="market/baby-yoda-bg.png"></app-icon>
    <p class="template__text">NFTs is ended on market now :(</p>
  </div>
</ng-template>
