<div class="nep__items">
  <div class="nep__item" *ngFor="let item of nepLevels" [ngStyle]="{ order: item.level }">
    <div class="nep__item-header">
      <div class="nep__item-header-title">NEP Squad</div>
      <div class="nep__item-header-btn"><span class="icon-Star"></span>{{ item.level }} Level</div>
    </div>
    <div class="nep__item-data">
      <div class="nep__item-data-col">
        <div class="nep__item-data-value">{{ item['nep']['USDT20'] | number: '1.4-4' }}</div>
        <div class="nep__item-data-currency">USDT</div>
      </div>
      <div class="nep__item-data-col">
        <div class="nep__item-data-value">{{ item['nep']['GMRX'] | number: '1.4-4' }}</div>
        <div class="nep__item-data-currency">GMRX</div>
      </div>
    </div>
    <div class="nep__item-progress">
      <div class="nep__item-progress-qualified" *ngIf="item['progress']['percent'] >= 1; else progress1">Qualified</div>
      <div class="nep__item-progress-container">
        <ng-template #progress1>
          <p>{{ item['progress']['hoursLeft'] }} hours GTime still needed</p>
          <app-progress-bar [percent]="item['progress']['percent']"></app-progress-bar>
        </ng-template>
      </div>
    </div>
  </div>
</div>
