<div class="edit-profile">
  <h3 class="edit-profile__title">Edit profile</h3>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="edit-profile__field-group">
      <!-- <label for="firstName">First Name</label> -->
      <input id="firstName" formControlName="firstName" #firstName placeholder="First Name" />
      <div class="edit-profile__error" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
        <div *ngIf="form.get('firstName').errors['required']">The field is required.</div>
        <div *ngIf="form.get('firstName').errors['pattern']">First name should have only letters, space or dash.</div>
        <div *ngIf="form.get('firstName').errors['maxlength']">
          First name should not have more letters then
          <mark>{{ form.get('firstName').errors['maxlength'].requiredLength }}</mark>
          symbols. Currently you typed <mark>{{ firstName.value.length }}</mark
          >.
        </div>
      </div>
    </div>
    <div class="edit-profile__field-group">
      <!-- <label for="lastName">Last Name</label> -->
      <input id="lastName" formControlName="lastName" #lastName placeholder="Last Name" />
      <div class="edit-profile__error" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
        <div *ngIf="form.get('lastName').errors['required']">The field is required.</div>
        <div *ngIf="form.get('lastName').errors['pattern']">Last name should have only letters, space or dash.</div>
        <div *ngIf="form.get('lastName').errors['maxlength']">
          Last name should not have more letters then
          <mark>{{ form.get('lastName').errors['maxlength'].requiredLength }}</mark>
          symbols. Currently you typed <mark>{{ lastName.value.length }}</mark
          >.
        </div>
      </div>
    </div>
    <div class="edit-profile__field-group">
      <!-- <label for="mobilePhone">Phone Number</label> -->
      <input id="mobilePhone" formControlName="mobilePhone" #mobilePhone placeholder="Phone Number" />
      <div class="edit-profile__error" *ngIf="form.get('mobilePhone').invalid && form.get('mobilePhone').touched">
        <div *ngIf="form.get('mobilePhone').errors['pattern']">Invalid phone number.</div>
      </div>
    </div>
    <div class="edit-profile__field-group">
      <!-- <label for="nickName">Username</label> -->
      <input id="nickName" formControlName="nickName" #nickName placeholder="Username" />
      <div class="edit-profile__error" *ngIf="form.get('nickName').invalid && form.get('nickName').touched">
        <div *ngIf="form.get('nickName').errors['required']">The field is required.</div>
        <div *ngIf="form.get('nickName').errors['pattern']">Username should have only letters and numbers.</div>
        <div *ngIf="form.get('nickName').errors['minlength']">
          Username should not have less letters then
          <mark>{{ form.get('nickName').errors['minlength'].requiredLength }}</mark>
          symbols. Currently you typed <mark>{{ nickName.value.length }}</mark
          >.
        </div>
        <div *ngIf="form.get('nickName').errors['maxlength']">
          Username should not have more letters then
          <mark>{{ form.get('nickName').errors['maxlength'].requiredLength }}</mark>
          symbols. Currently you typed <mark>{{ nickName.value.length }}</mark
          >.
        </div>
      </div>
    </div>
    <app-button class="edit-profile__button" [buttonData]="saveButton" [disabled]="!form.valid"></app-button>
  </form>
</div>
