.spinner {
  --front-color: white;
  --back-color: white;

  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    circle {
      position: absolute;
      fill: none;
      stroke-width: 5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      transform: rotate(-100deg);
      transform-origin: center;

      &.back {
        stroke: var(--back-color);
      }

      &.front {
        stroke: var(--front-color);
      }
    }

    &.circle-outer {
      height: 35px;
      width: 35px;

      circle {
        stroke-dasharray: 62.75 188.25;
        stroke-dashoffset: 25;

        &.back {
          transform: rotate(45deg);

          &__active {
            animation: circle-outer 1.8s ease infinite .3s;
          }
        }

        &.front {
          transform: rotate(223deg);

          &__active {
            animation: circle-outer 1.8s ease infinite .15s;
          }
        }
      }
    }

    &.circle-middle {
      height: 25px;
      width: 25px;

      circle {
        stroke-dasharray: 42.5 127.5;
        stroke-dashoffset: 17;

        &.back {
          transform: rotate(-52deg);

          &__active {
            animation: circle-middle 1.8s ease infinite .25s;
          }
        }

        &.front {
          transform: rotate(134deg);

          &__active {
            animation: circle-middle 1.8s ease infinite .1s;
          }
        }
      }
    }

    &.circle-inner {
      height: 15px;
      width: 15px;

      circle {
        stroke-dasharray: 22 66;
        stroke-dashoffset: 9;

        &.back {
          transform: rotate(44deg);

          &__active {
            animation: circle-inner 1.8s ease infinite .2s;
          }
        }

        &.front {
          transform: rotate(231deg);

          &__active {
            animation: circle-inner 1.8s ease infinite .05s;
          }
        }
      }
    }
  }

}


@keyframes circle-outer {
  0% {
    stroke-dashoffset: 25;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 301;
  }
  80% {
    stroke-dashoffset: 276;
  }
  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle {
  0% {
    stroke-dashoffset: 17;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 204;
  }
  80% {
    stroke-dashoffset: 187;
  }
  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner {
  0% {
    stroke-dashoffset: 9;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 106;
  }
  80% {
    stroke-dashoffset: 97;
  }
  100% {
    stroke-dashoffset: 97;
  }
}
