<div class="critical-update-modal">
  <h3 class="critical-update-modal__title">New critical update. Please install new version</h3>

  <div *ngIf="!isDownloaded" class="status_downloading">
    <svg class="spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
    Downloading...
  </div>

  <app-button
    class="critical-update-modal__button"
    [buttonData]="installNow"
    (click)="install()"
    [disabled]="!isDownloaded"
    [attr.disabled]="!isDownloaded">
  </app-button>
</div>
