:host {
  &.main-menu-item .menu-item {
    padding: 23px 0;
  }
  &.bottom-menu-item .menu-item {
    padding: 11px 0;
  }
}
.menu-item {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &.active {
    color: var(--color-active);
  }

  &.active {
    pointer-events: none;
    &:after {
      content: '';
      width: 5px;
      height: 5px;
      margin-top: -2.5px;
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 50%;
      background: var(--color-active);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .icon {
    margin-right: 15px;
    font-size: 16px;
    transition: all 0.2s;
  }

  .title {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
  }

  &.minimized {
    &::after {
      display: none;
    }
    .icon {
      padding: 0 15px 0 5px;
    }
    .title {
      display: none;
    }
  }
}
