@import 'mixins';

.news {
  display: flex;
  justify-content: space-between;

  &-left {
    width: 57%;
    display: flex;
    align-items: flex-end;
    position: relative;
    background: url('~src/assets/icons/home/aqua-adventure.png') no-repeat center / cover;
    border-radius: 10px;

    &__content {
      width: 100%;
      margin: 34px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      div {
        width: 75%;
      }

      app-button {
        width: 120px;
      }
    }

    &__header {
      @include subtitle();
      margin-bottom: 18px;
    }

    &__text {
      margin: 0;
      font-weight: 300;
      font-size: 17px;
      line-height: 165%;
    }
  }

  &-right {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 100%;
    }

    &__bottom {
      width: 100%;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item {
        width: 48%;
        position: relative;
      }
    }
  }
}
