<span class="icon icon-Refresh"></span>
<span>
  <div *ngIf="refreshTime.seconds < 10 && refreshTime.minutes === 0 && refreshTime.hours === 0">
    Last updated a few seconds ago
  </div>
  <div *ngIf="refreshTime.seconds >= 10 && refreshTime.minutes === 0 && refreshTime.hours === 0">
    Last updated less than a minute ago
  </div>
  <div *ngIf="refreshTime.minutes > 0 && refreshTime.minutes <= 59 && refreshTime.hours === 0">
    Last updated was {{ refreshTime.minutes }} minute(s) ago
  </div>
  <div *ngIf="refreshTime.hours > 0">Last updated was {{ refreshTime.hours }} hour(s) ago</div>
</span>
