<div class="error-modal">
  <h3 class="error-modal__title">Something wrong</h3>
  <p>We are experiencing an issue, please wait for a while, and if it is not fixed contact support</p>
  <p>Request from {{ errorData }}</p>
  <p class="error-modal__message" *ngIf="modalService.bufferData">{{ modalService.bufferData }}</p>
  <div class="error-modal__buttons">
    <app-button class="error-modal__button" [buttonData]="helpButton" (click)="onHelpCenter()"> </app-button>
    <app-button class="error-modal__button" [buttonData]="cancelButton" (click)="onCancel()"></app-button>
  </div>
</div>
