<div class="main-menu-container" [ngClass]="{ minimized: menuService.isMenuMinimized }">
  <div class="main-menu">
    <ng-container *ngFor="let itemData of mainMenu">
      <app-menu-item [item]="itemData" class="main-menu-item"></app-menu-item>
    </ng-container>
  </div>
  <div class="bottom-menu">
    <div class="sub-menu" *ngIf="!menuService.isMenuMinimized">
      <ng-container *ngFor="let itemData of bottomMenu">
        <app-menu-item [item]="itemData" class="bottom-menu-item"></app-menu-item>
      </ng-container>
    </div>
    <div class="user-status-bar">
      <app-button
        *ngIf="!isLoggedIn"
        [buttonData]="loginButton"
        (click)="onLogin()"
        [disabled]="autoUpdateService.isCritical$.getValue()"
        [attr.disabled]="autoUpdateService.isCritical$.getValue()"></app-button>
      <app-status-bar *ngIf="isLoggedIn" (click)="openProfile()"></app-status-bar>
    </div>
  </div>
</div>
