.main-menu-container {
  height: 100%;
  padding: 22px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
  &.minimized {
    padding: 22px 0 20px 10px;
  }
}

.main-menu {
  padding: 0 0 0 10px;
}

.bottom-menu {
  padding: 30px 0 0 0;
  .sub-menu {
    padding: 0 0 0 10px;
  }

  .user-status-bar {
    margin: 37px 0 0 0;
    padding: 20px 0 20px 0;
    border-top: 1px solid var(--color-border);
    app-button {
      width: 100%;
    }
  }
}
