@import 'mixins';

.cart-sidebar {
  h2 {
    @include sidebar-header;
  }

  &-list {
    height: 54vh;
    @include custom-scroll;
  }

  app-order-summary {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
  }
}
