@import 'mixins';

.benchmarking {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    @include title;
  }

  &__description {
    max-width: 680px;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
  }

  &__start-btn {
    @include button;
    width: 270px;
    height: 65px;
  }
}
