@import 'mixins';

h2.back-link {
  @include back-link;
}

.product {
  @include product-details;
  margin-bottom: 100px;

  &__cart {
    margin: 20px 0 50px 0;
    display: flex;
    &-counter {
      @include cart-counter;
    }
    &-button {
      width: 212px;
      margin: 0 0 0 5px;
    }
  }
}
