<h2 class="back-link" (click)="backClicked()">
  <span class="icon icon-Arrow-Left"></span>
  <span class="text">Details</span>
</h2>

<div class="nft-item">
  <div class="nft-item__sidebar">
    <div class="nft-item__image">
      <img [src]="arkaneService.nft.imageThumbnailUrl" onError="this.src = './assets/icons/placeholders/market.webp'" />
    </div>
  </div>
  <div class="nft-item__content">
    <h2 class="nft-item__title">{{ arkaneService.nft.name }}</h2>
    <div class="nft-item__description">{{ arkaneService.nft.description }}</div>
    <div class="nft-item__amount" *ngIf="arkaneService.nft?.balance > 1">Amount: {{ arkaneService.nft?.balance }}</div>
    <div class="nft-item__attributes" *ngIf="arkaneService.nft.attributes?.length">
      <h3>Attributes and Enchantments</h3>
      <p *ngFor="let attr of arkaneService.nft.attributes">
        {{ attr.name }}: <span>{{ attr.value }}</span>
      </p>
    </div>
    <app-button
      class="nft-item__button"
      [buttonData]="{ name: 'Transfer' }"
      (click)="openTransferNftModal()"></app-button>
  </div>
</div>
<app-product-recommendation
  [recommendationData]="recommendationData"
  [redirectData]="false"
  [headerText]="'Recommendations'"></app-product-recommendation>
