@use 'sass:math';
@import 'mixins';

:host {
  @include table;
  display: block;
}

.table {
  &__num {
    text-align: center;
    width: percentage(math.div(40, 1056));
  }

  &__processor {
    width: percentage(math.div(260, 1056));
  }

  &__date {
    width: percentage(math.div(135, 1056));
  }

  &__reward {
    width: percentage(math.div(260, 1056));
  }

  &__index {
    text-align: center;
  }
}
