<table class="table">
  <thead>
    <tr>
      <th class="table__num">#</th>
      <th>OS</th>
      <th class="table__processor">GPU</th>
      <th class="table__processor">CPU</th>
      <th class="table__date">Installation Date</th>
      <th class="table__date">Last Activity</th>
      <th class="table__reward">Reward</th>
    </tr>
  </thead>
  <tbody *ngIf="deviceService.devices.length > 0; else emptyTable">
    <tr *ngFor="let device of deviceService.devices; let i = index">
      <td class="table__index">{{ i + 1 }}</td>
      <td>{{ device.systemInfo?.os.distro }}</td>
      <td>
        <ul>
          <li *ngFor="let gpu of device.systemInfo?.gpu">{{ gpu.model }} - {{ (gpu.vram / 1024).toFixed(2) }} GB</li>
        </ul>
      </td>
      <td>
        {{ device.systemInfo?.cpu.manufacturer }} {{ device.systemInfo?.cpu.brand }}
        {{ device.systemInfo?.cpu.speed ? ', ' + device.systemInfo.cpu.speed + ' GHz' : '' }}
      </td>
      <td>{{ device.systemInfo?.createdOn | date: 'MM.dd.yyyy h:mm:ss' }}</td>
      <td>{{ device.systemInfo?.lastModifiedOn | date: 'MM.dd.yyyy h:mm:ss' }}</td>
      <td>{{ device.balance?.paid.USDT20 | number: '1.11-11' }} USDT</td>
    </tr>
  </tbody>
  <ng-template #emptyTable>
    <tbody>
      <tr>
        <td colspan="7" class="empty-row">None</td>
      </tr>
    </tbody>
  </ng-template>
</table>
