<div class="cart-item">
  <img
    class="cart-item__image"
    onError="this.src = './assets/icons/placeholders/market.webp'"
    [src]="cartItem.imageUrl"
    (click)="navigateTo(cartItem)"
    alt="" />

  <div class="cart-item__wrapper">
    <div class="cart-item__description">
      <p (click)="navigateTo(cartItem)">{{ cartItem.name }}</p>
      <span>{{ cartItem.price }} {{ cartItem.currency }}</span>
    </div>
    <div class="cart-item__counter">
      <span (click)="remove(cartItem)">-</span>
      <span>{{ cartItem.count }}</span>
      <span (click)="add(cartItem)">+</span>
    </div>
  </div>

  <div class="cart-item__menu">
    <span class="cart-item__menu-dots icon-Dots-2" (click)="toggleMenu()"></span>
    <div class="cart-item__menu-remove" *ngIf="isMenuActive">
      <span class="button-remove" (click)="removeProduct(cartItem.id)">Remove</span>
      <span class="button-close icon-Close-Bold" (click)="toggleMenu()"></span>
    </div>
  </div>
</div>
