<div class="edit-avatar">
  <h3 class="edit-avatar__title">Profile photo</h3>
  <p>Upload image to change the profile photo</p>
  <div class="edit-avatar__field-group upload-files">
    <app-button class="upload-files__button" [buttonData]="uploadButton" (click)="fileInput.click()"></app-button>
    <div *ngIf="imageUrl" class="upload-files__file">
      <div class="upload-files__file-name">
        <span class="icon icon-Attachment"></span>
        <p>{{ imageUrl }}</p>
      </div>
      <span
        class="icon-Close-Bold upload-files__file-remove"
        title="Remove an uploaded image"
        (click)="onRemove()"></span>
    </div>
    <input
      style="display: none"
      type="file"
      accept="image/jpeg,image/png"
      (change)="onChange($event.target.files)"
      #fileInput />
  </div>
  <div class="edit-avatar__buttons">
    <app-button
      class="edit-avatar__button"
      [disabled]="!this.avatarUpdated"
      [attr.disabled]="!this.avatarUpdated"
      [buttonData]="saveButton"
      (click)="onSave()"></app-button>
    <app-button class="edit-avatar__button" [buttonData]="cancelButton" (click)="onCancel()"></app-button>
  </div>
</div>
