@import 'mixins';

.edit-avatar {
  @include dialog;

  &__field-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.upload-files {
  @include upload-files;
}
