.socials {
  margin: 10px 0 0 0;
  display: flex;
  border: 1px solid #202024;
  border-radius: 10px;
  &__button {
    position: relative;
    &:not(:last-child):after {
      content: '';
      width: 1px;
      height: 30px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: #202024;
    }
    ::ng-deep button {
      font-size: 15px;
      &:hover {
        color: var(--btn-main-bg);
      }
    }
  }
}
