<div class="sidebar-item" [ngClass]="{ 'mining-active': miningProcessService.miningStatuses[miningMode] }">
  <p class="sidebar-item__name" [ngClass]="{ 'sidebar-item__name__coming-soon': isComingSoon }">
    {{ miningMode }} Mining
  </p>
  <div class="sidebar-item__control" *ngIf="!isComingSoon; else comingSoon">
    <div *ngIf="isDownloading" class="sidebar-item__downloading">
      <svg class="spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
      Downloading
    </div>
    <div class="sidebar-item__hashrate" *ngIf="miningProcessService.miningStatuses[miningMode]">
      <div *ngIf="miningCryptoCode === 'AION'; else otherCryptoCode">
        <div>{{ avgDeviceHashrate | number: '1.0-2' }} H/s</div>
      </div>
      <ng-template #otherCryptoCode>
        <div>{{ avgDeviceHashrate | number: '1.0-2' }} MH/s</div>
      </ng-template>
    </div>
    <app-mining-toggle-switcher
      (turnedOnStatus)="onToggleChange($event, miningMode)"
      [miningMode]="miningMode"
      [id]="'itemToggle'"></app-mining-toggle-switcher>
  </div>
</div>
<ng-template #comingSoon>
  <div class="sidebar-item__coming-soon">Coming Soon</div>
</ng-template>
