.sidebar-item {
  height: 90px;
  margin: 0 0 15px 0;
  padding: 25px 25px 25px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  background: var(--color-sidebar-bg);
  border-radius: 10px;
  position: relative;

  &__name {
    margin: 0;

    &__coming-soon {
      opacity: 0.2;
    }
  }

  &__control {
    display: flex;
    align-items: center;
  }

  &__hashrate {
    margin: 0 20px;
    font-size: 16px;
  }

  ::ng-deep {
    .switch-toggle label {
      width: 55px;
      height: 30px;
      &::before {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__coming-soon {
    font-size: 12px;
    padding: 10px;
    background: #1f1f22;
    border-radius: 5px;
    text-transform: uppercase;
  }

  &__downloading {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
  }
}

.mining-active {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(100deg, #00f5a0, #00d9f5);
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  margin: 0 5px;
  width: 15px;

  & .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
