@import 'mixins';

:host {
  display: block;
}

.withdraw {
  &__card {
    @include card;
    justify-content: space-between;

    &-data {
      display: flex;
      flex-direction: column;

      &-body {
        height: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;

        .withdraw__col {
          margin-right: 50px;

          &-amount {
            color: var(--color-text);
            font-weight: 500;
            font-size: 25px;
            line-height: 34px;

            span {
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
            }
          }

          &-name {
            color: var(--color-text-dark);
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
    &-button {
      display: flex;
      align-items: center;
      app-button {
        width: 212px;
      }
    }
  }
}
