<div class="withdraw">
  <div class="withdraw__card">
    <div class="withdraw__card-data">
      <div class="withdraw__card-title">Your Balance</div>
      <div class="withdraw__card-data-body">
        <div class="withdraw__col">
          <div class="withdraw__col-amount">
            {{ balanceService.paidBalance$.getValue().USDT20 | number: '1.4-4' }}
            <span>USDT</span>
          </div>
          <div class="withdraw__col-name">Ready for Withdrawal</div>
        </div>
        <div class="withdraw__col">
          <div class="withdraw__col-amount">
            {{ balanceService.unpaidBalance$.getValue().USDT20 | number: '1.11-11' }}
            <span>USDT</span>
          </div>
          <div class="withdraw__col-name">Pending rewards</div>
        </div>
      </div>
    </div>
    <div class="withdraw__card-button">
      <app-button
        [buttonData]="button"
        (click)="onClick()"
        [disabled]="isDisabled"
        [attr.disabled]="isDisabled"></app-button>
    </div>
  </div>
</div>
