.status-bar {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__avatar {
    width: 40px;
    height: 40px;
    position: relative;

    &-image {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        max-width: none;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: fill;
      }
    }

    &-status {
      width: 14px;
      height: 14px;
      position: absolute;
      top: -6px;
      right: -4px;
      background-color: var(--color-status-success);
      border: 2px solid var(--color-bg);
      border-radius: 50%;
    }
  }

  &__info {
    width: calc(100% - 56px);
    margin-left: 12px;

    &-name {
      color: var(--color-text);
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-text {
      color: var(--color-text-dark);
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
    }
  }
}
