<div class="status-bar" *ngIf="userService.profile">
  <div class="status-bar__avatar">
    <div class="status-bar__avatar-image">
      <img [src]="userService.profile.avatarUrl" (error)="userService.errorHandler($event)" alt="" />
    </div>
    <div class="status-bar__avatar-status"></div>
  </div>
  <div class="status-bar__info" *ngIf="!menuService.isMenuMinimized">
    <div class="status-bar__info-name">{{ userService.profile.nickName }}</div>
    <div class="status-bar__info-text">Profile</div>
  </div>
</div>
