@import 'mixins';

.notification {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sidebar-header;
    h2 {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &-list__empty {
    display: block;
    font-size: 24px;
    margin: 60% 0;
    text-align: center;
  }

  ::ng-deep button {
    height: 36px;
  }
}
