<div class="notification">
  <div class="notification-header">
    <h2>Notification</h2>
    <app-button
      class="notification-clear__btn"
      [buttonData]="{ name: 'Clear', classMod: 'secondary', size: 'small' }"
      (click)="clearNotifications()"></app-button>
  </div>
  <div class="notification-list">
    <ng-container
      *ngIf="notifications != null && notifications != undefined && notifications.length > 0; else elseTemplate">
      <app-update-notification
        [notificationData]="notification"
        *ngFor="let notification of notifications"></app-update-notification>
    </ng-container>
    <ng-template #elseTemplate>
      <p class="notification-list__empty">No notifications!</p>
    </ng-template>
  </div>
</div>
