@import 'mixins';

.confirm-payment {
  @include dialog;

  p {
    margin: 0 0 25px 0;
    font-size: 16px;
    line-height: 20px;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
  }

  &__currency {
    padding: 0 5px;
    color: var(--color-active);
    font-weight: 500;
    font-size: 18px;
  }
}
