@import 'mixins';

.instruction {
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__header {
    @include subtitle();
    margin-top: 40px;
  }

  &-list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__item {
      width: 49%;

      h3 {
        font-weight: 600;
        font-size: 14px;
        color: var(--color-active);
        text-transform: uppercase;
      }

      p {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }

  &-field {
    width: 100%;
    height: 64px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    &__data {
      width: 100%;
      padding: 5px 0;
      color: #fff;
      font-weight: 300;
      font-size: 17px;

      @include custom-scroll();

      &::-webkit-scrollbar {
        height: 4px;
      }

      overflow-x: auto;
      overflow-y: hidden;

      background: transparent;
      border: none;
    }

    .icon {
      margin-left: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  &-download {
    margin-top: 15px;
    color: var(--color-text-dark);
    font-weight: 300;
    font-size: 17px;

    a {
      color: var(--color-active);
      text-decoration: 1px underline var(--color-active);
    }
  }
}
