<div class="games-page" [ngClass]="{ 'games-page-bg': showBg }">
  <h2 class="games-page__header">{{ title }}</h2>
  <div class="games-list">
    <div class="games-item" *ngFor="let game of games" (click)="navigateToPage(game.navigateUrl)">
      <img class="games-item__img" [src]="game.img" alt="" />
      <app-label
        *ngIf="game.isComingSoon"
        [labelText]="'Coming soon'"
        [icon]="'icon-Games-2'"
        [textColor]="'#343434'"
        [bgColor]="'#FFFFFF'"></app-label>
    </div>
  </div>
</div>
