@import 'mixins';

.left-bar-wrapper {
  width: 220px;
  height: 100%;
  border-right: 1px solid var(--color-border);
  background: var(--color-bg);
  transition: all 0.2s;

  &.minimized {
    width: 64px;
    overflow: hidden;
  }

  .main-menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include custom-scroll;
  }
}
