<div class="gaimincraft-header">
  <div class="gaimincraft-header__content">
    <h2>Gaimcraft</h2>
    <p class="gaimincraft-header__text">
      This is like ordinary Minecraft but with outstanding features. Unique Gaimin item pack with storing in Blockchain
      as NFT.
    </p>
    <div class="gaimincraft-header__actions">
      <div class="gaimincraft-header__actions-item">
        <img src="assets/icons/games/play.png" alt="" />
        <p>You can play with NFTs</p>
      </div>
      <div class="gaimincraft-header__actions-item">
        <img src="assets/icons/games/sell-buy.png" alt="" />
        <p>Buy and Sell NFTs on Marketplace</p>
      </div>
    </div>
  </div>
</div>
