.gaimincraft-header {
  margin: 70px 0;
  display: flex;
  align-items: center;

  &__content {
    h2 {
      margin: 0;
      font-weight: 500;
      font-size: 36px;
    }
  }

  &__text {
    width: 450px;
    margin-bottom: 25px;
    margin-top: 15px;
    color: #7d7d8b;
    line-height: 22px;
    font-weight: 300;
    font-size: 17px;
  }

  &__actions {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 35px;
      display: flex;
      align-items: center;

      p {
        margin: 0 15px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
